<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Num US</th>
      <th>Description</th>
      <th>Priorite</th>
      <th>Difficulte</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let back of backlog">
      <td hidden="true">{{back.id}}</td>
      <td>{{back.numero}}</td>
      <td>{{back.description}}</td>
      <td contenteditable="true" (blur)="lostfocus($event)" (keyup)="changed($event)">{{back.priorite}}</td>
      <td  hidden="true">{{back.priorite}}</td>
      <td>{{back.difficulte}}</td>
    </tr>

    </tbody>
  </table>
</div>

