<div class="container">
  <form class="form-horizontal" id="invitationform">
    <legend>
      Inviter un utilisateur
    </legend>

    <div>
      <div class="form-group">
      <label class="col-sm-2 control-label">Email de l'utilisateur</label>
      <div class="col-sm-10">
        <input [(ngModel)] = 'invitEmail' name="invitEmail" class="form-control" id="invitEmail" type="text"  value="" placeholder="mail de l'utilisateur">
        <span class="help-block">De la forme nom@exemple.com</span>
      </div>
    </div>
    </div>

    <div class="form-group">
    <div>
      <label class="col-sm-2 control-label">Nom du projet</label>
      <div class="col-sm-10">
        <input [(ngModel)] = 'projectName' name="projectName" class="form-control" id="projectName" type="text" placeholder="nom du projet">
        <span class="help-block">Entrez le nom du projet </span>
      </div>  
    </div>
  </div>

    <div>
      <!-- Button -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" id="btn-invitation"type="submit" (click) = 'InvitUser()'>Envoyer </button>
        <button class="btn btn-default" type="reset">Annuler </button>
      </div>
      </div>
    </div>

  </form>
</div>
